# CMake
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
*.vcxproj*
*.sln
*.user
*.filters

# VSCode
.vscode/
*.code-workspace

# Binaries
*.exe
*.dll
*.obj
*.pdb

# Others
*.log