#build
build/
cmake-build-*/
out/


# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing/

# Visual Studio
*.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.filters

# VSCode
.vscode/
*.code-workspace

# Compiled files
*.exe
*.dll
*.obj
*.pdb
*.o
*.a
*.lib

# Others
*.log